# Python data files
*.npz

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db